[submodule "ext/GLFWDotNet"]
	path = ext/GLFWDotNet
	url = https://github.com/smack0007/GLFWDotNet.git
[submodule "ext/GLDotNet"]
	path = ext/GLDotNet
	url = https://github.com/smack0007/GLDotNet.git
